/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f7fc;
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #0d6efd;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar li:hover {
    background: white;
    color: #0d6efd;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header button {
    padding: 10px 15px;
    border: none;
    background: green;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.header button:hover {
    background: darkgreen;
}

/* Cards */
.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    flex: 1;
    min-width: 180px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px gray;
}

.card p {
    font-size: 25px;
    color: #0d6efd;
    margin-top: 10px;
}

/* Table */
.patients {
    background: white;
    padding: 20px;
    border-radius: 8px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #0d6efd;
    color: white;
}

tr:nth-child(even) {
    background: #f9f9f9;
}

@media (max-width: 768px) {

    body {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .header {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }

    .cards {
        flex-direction: column;
    }
}